{% extends 'email_service/base.html' %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

{% block htmlcontent %}
    {% for message in messages %}
        <p class="lead">{{message}}</p>
    {% endfor %}

    <a class="btn btn-primary" href="{% url 'email_service:new_email' %}">New Email</a>
    <a class="btn btn-default" href="{% url 'email_service:sent_emails' %}">Sent Emails</a>
{% endblock%}