{% extends 'email_service/base.html' %}

{% load crispy_forms_tags %}

{% block htmlcontent %}

    <input id="file-selector" type="file" accept=".csv" class="btn btn-info">
    <br>

    {% if error %}
        <p class="lead">Encountered error {{ error }}. Please try again.</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success">Send</button>
    </form>
{% endblock %}

{% block js %}
<script >
        document.getElementById('file-selector').onchange = function() {
            const file = this.files[0];
            const reader = new FileReader;

            console.log(file.size);
            console.log(file.type);

            if (!file) {
                alert("Error reading file");
            }
            else {

            var toList = [];
            var ccList = [];
            var bccList = [];

            reader.onload = (event) => {
                const file = event.target.result;
                const allLines = file.split(/\r\n|\n/);

                allLines.forEach((line) => {
                    console.log(line);
                    words = line.split(',');

                    console.log(words);

                    if (words[0].trim() === "to") {
                        for (i = 1; i < words.length; i++) {
                            var currentWord = words[i].trim();
                            if (validateEmail(currentWord)) {
                                toList.push(currentWord);
                            }
                        }
                    }
                    else if (words[0] === "cc"){
                        for (i = 1; i < words.length; i++) {
                            var currentWord = words[i].trim();
                            if (validateEmail(currentWord)) {
                                ccList.push(currentWord);
                            }
                        }
                    }
                    else if (words[0] === "bcc") {
                        for (i = 1; i < words.length; i++) {
                            var currentWord = words[i].trim();
                            if (validateEmail(currentWord)) {
                                bccList.push(currentWord);
                            }
                        }
                    }
                });

                console.log(toList);
                console.log(ccList);
                console.log(bccList);

                document.getElementById("id_to_recipients").value = toList.toString();
                document.getElementById("id_cc_list").value = ccList.toString();
                document.getElementById("id_bcc_list").value = bccList.toString();
                };

            reader.onerror = (event) => {
                alert(event.target.error.name);
            }

            reader.readAsText(file);
        }

        }

        function validateEmail(mail) {
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
            {
                return (true);
            }
            return false;
        }
    </script>
{% endblock %}