{% extends 'email_service/base.html' %}

{% block htmlcontent %}
    {% if emails %}
        {% for email in emails %}
            <div class="row">
                <div class="well well-lg">
                    <p>To: {{ email.to_recipients }}</p>
                    <p>Cc: {{ email.cc_list }}</p>
                    <p>Bcc: {{ email.bcc_list }}</p>
                    <p>Sent On: {{ email.sent_on }}</p>
                    <p>Subject: {{ email.subject }}</p>
                    <p>Message: {{ email.body|linebreaksbr }}</p>
                </div>
            </div>
                <!--<hr>-->
        {% endfor %}
    {% else %}
        <p class="lead">No emails found.</p>
    {% endif %}
{% endblock %}